body {
    background-color: #EEEEEE;
    margin: 0px;
}

.title {
    height: auto;
    min-height: 90px;
    background-color: #03A9F4;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
}

.logo {
    position: relative;
    top: 1em;
    left: 1em;
    max-width: 100px;
}

.navigator {
    direction: horizon;
    position: absolute;
    top: 1em;
    right: 1em;
}

.navigator__item {
    display: inline;
}

a:link{
	color: white;
}

a:visited{
	color: red;
}

a:hover{
	color: green;
}

a.active{
	color: yellow;
}

a{
	text-decoration: none;
}

.passage{
	padding: 1em;
	margin: 1em;
	background-color:white; 
	border: 1px solid #9E9E9E;
}
.passage--margin{
	margin-top: 100px;
}

h3{
	color: #757575;
}

.image{
	padding: 1em;
	border: 1px solid #9E9E9E;
	width: auto;
	margin: 1em;
	display: table;
}

table{
	width: 100%;
	text-align: left;
}

th{
	background-color: #424242;
	color: white;
}

caption{
	text-align: left;
}

tfoot{
	background-color: #E0E0E0;
}






















