html * {
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
}

.container{
	position: absolute;
	margin: 10px;
	border: 1px solid #aaaaaa;
	overflow: hidden;
	width: 70%;
	height: 70%;
}

.center{
	/*The absolutely positioned element is positioned relative to 
	nearest positioned ancestor(non-static) */
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%, -50%);
	background-color: #eee;
	border: 1px solid #333333;
	width: 400px;
	height: 200px;
}

.left-top{
	position: absolute;
	top: 0px;
	left: 0px;
}

.right-bottom{
	position: absolute;
	top: 100%;
	left: 100%;
	transform: translate(-100%,-100%);
}









