html * {
    font-family: 黑体, arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    width: 960px;
    height: 1386px;
    padding: 0px 44px;
}

#header {
    height: 63px;
    width: 892px;
    overflow: auto;
    position: relative;
}

.container{
	width: 892px;
}

.logo {
    width: 110px;
    height: 61px;
    background-color: rgb(207, 82, 82);
    color: white;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    font-size: small;
}

.header-date {
    position: absolute;
    right: 0px;
    font-size: small;
    color: rgb(207, 82, 82);
    transform: translateY(-100%);
}

.article-top {
	padding: 20px 0px;
	overflow: auto;
}

.article-top--left {
    width: 641px;
    float: left;
    position: relative;
}

.article-top--right {
    width: 203px;
    float: right;
}

.image--size1{
	width: 641px;
	height: 301px;
}

.layer{
	position: absolute;
	width: 191px;
	height: 301px;
}

.layer--left{
	left: 0px;
	top: 0px;
	background-color: rgba(144,182,150,0.4);
}

.layer--right{
	right: 0px;
	top: 0px;
	background-color: rgba(224,173,173,0.4);
}

.article-top--row-3{
	margin-top: 20px;
}

.article-top--row-item{
	width: calc(581px/3);
	height: auto;
	float: left;
	margin-right: 20px;
	word-wrap: break-word;
}

.text-color--green{
	color: rgb(74,137,93);
}

.text-color--yellow{
	color: rgb(207,147,79);
}

.text-color--red{
	color: rgb(203,118,128);
}

.divider--red{
	border-color: rgb(193,110,127);
}

